extends layout

block header_scripts

    script(src='/javascripts/raphael.js')
    //- style.
        html {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        body {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            min-width: 100%;
        }

    script.

        window.onload = function() {
            // Raphael canvas
            var W = 1000,
                H = 700,
                r = Raphael("raphHolder", W, H);

            // Data storage    
            var lenSong = 12,
                numGlass = 6,
                notes = [],
                pauses = [];

            for (var i = 0; i < numGlass; i++) {
                notes.push([]);
                pauses.push([]);
                for (var j = 0; j < lenSong; j++){
                    notes[i].push(0);
                }
                for (var j = 0; j < lenSong-1; j++){
                    pauses[i].push(0);
                }
            }


            // Note selectors
            var smRadius = 10,
                lgRadius = 15,
                smRectHeight = 10,
                lgRectHeight = 15,
                horSpacing = 80,
                vertSpacing = 80,
                fills = ['#87E8D6','#FAE13C','#E43CFA','#3CFA58','#F24B96','#593AB5'];

            for (var i = numGlass; i--;) {
                for (var j = lenSong-1; j--;){
                    r.rect(40+horSpacing*j+smRadius, 40+vertSpacing*i-smRadius/2, horSpacing-2*smRadius , smRectHeight)
                        .attr({fill: fills[i], stroke: fills[i], 'fill-opacity': pauses[i][j]})
                        .data('x', j)
                        .data('y', i)
                        .click(function () {
                            var new_op = +!this.attr('fill-opacity');
                            pauses[this.data('y')][this.data('x')] = new_op;                        
                            this.animate({'fill-opacity' : new_op}, 200);
                        })
                        .hover(function() {
                                if (!pauses[this.data('y')][this.data('x')]){
                                    this.animate({y: this.attr('y')-2.5, height: lgRectHeight}, 1);
                                }
                            },
                            function() {
                                if (!pauses[this.data('y')][this.data('x')]){
                                    this.animate({y: this.attr('y')+2.5, height: smRectHeight}, 1);
                                }
                            });
                }
                for (var j = lenSong; j--;){
                    r.circle(40+horSpacing*j, 40+vertSpacing*i, smRadius)
                    .attr({fill: fills[i], stroke: fills[i], 'stroke-width': 2, 'fill-opacity': notes[i][j], 'stroke-opacity': 1})
                    .data('x', j)
                    .data('y', i)
                    .click(function () {
                        var new_op = +!this.attr('fill-opacity');
                        notes[this.data('y')][this.data('x')] = new_op;                        
                        this.animate({'fill-opacity' : new_op}, 200);
                    })
                    .hover(function() {
                        this.animate({r: lgRadius}, 100,'elastic');
                    },
                    function() {
                        if (!notes[this.data('y')][this.data('x')]){
                            this.animate({r: smRadius}, 100,'elastic');
                        }
                    });
                }
            }

            // Submit button
            var subRect =
            r.rect(50, 500, 200, 60, 20)
                .attr({fill: "#3C850C", stroke: "#326E0A", 'stroke-width': 2, 'fill-opacity': .75, 'stroke-opacity': 1})
                
            var subText = 
            r.text(150,530,"Submit Song!")
                .attr({fill: "#FFFFFF", "font-size": 32, "font-family": "Helvetica" })
            var subButton = r.set()
                .attr({cursor: "pointer"});
            subButton.push(subRect);
            subButton.push(subText);
            subButton.hover(function() {
                subRect.animate({'fill-opacity' : 1}, 200);
                },
                function() {
                subRect.animate({'fill-opacity' : .75}, 200);
                })
            subButton.click(function() {
                var s = "";
                   console.log(notes);
                   for (var i = 0; i < numGlass; i++){
                       console.log(notes[i]);
                       s += notes[i].join('')+"\n";
                   }
                   console.log(s);
                   document.getElementById('notes').value = s;
                   document.getElementById('newSong').submit();
            });

        };


block content

    div(id="raphHolder")
    div(id="formHolder")
        form(id="newSong", method="post", action="/submit")
            input(id="notes", type="hidden", name="notes")
            input(id="pauses", type="hidden", name="pauses")
    //- div(id="footer")
        | <b><a href='http://github.com/jacobkingery/GhostFiddle' style='color: #111;'>Team Ghost Fiddle</a></b>
